nav {
	padding: 10px 10px 10px 10px;
}
li {
	display: inline;
}
header { 	
	text-align: center;
 }
h1 {
	color: blue;
	font-family: park-lane, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	text-align: center;
	text-transform: uppercase; 
	padding: 375px 20px 225px 20px;

}
h2.tagline {
	color: white;
	background-color: blue;
	font-family: park-lane; bold; 
	font-size: 22px;
	padding: 10px;
	margin-bottom: 450px;
	display: inline-block;

/*Cant get background to fit text*/ 
}

body.home{ 
	background-image: url(../images/home-background.png);
	background-size: cover;
	background-position: center top;
}

main {
	text-align: center;
	/*Cant get this centered on page*/ 
}
h2.about-title {
	color: white;
	font-family: park-lane; bold; 
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 20px;
	text-align: left;
}
article{
    margin-left: auto;
    margin-right: auto;
	width: 450px;
	min-height:200px;
	background-color: blue;
	padding: 25px;
	color: white;
	margin-bottom: 600px;
	line-height: 1.4em;
	font-family: park-lane, bold;
	text-align: justify;
}
.about-paragraph{
	text-align: justify;
}
.signature {
	text-align: right;
	padding-top: 10px;
}
.photo-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
	clear: left;
	color: white;
	background-color:#1132FF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;

}
/* END OF HOMEPAGE*/
/* START SUBPAGE ONE - something happened to the layout in class, working on fixing it*/
.s1sweater-name { 
	color: white;
	font-family: park-lane: serif;
	/*typeface not working even though it is linked on homepage*/
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 10px 0px 20px 0px;
	margin-top: 80px;
	text-align: right;
}
body.subpage-one{ 
	background-image: url(../images/beige-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s1sweater-info {
	background-color: #43A792;
	text-align: right;
	color: white;
	font-family: park-lane: serif;
	font-weight: 700;
	font-style: normal;
	max-width: 350px;
	font-size: 22px;
	padding: 10px 20px 20px 20px;
	/*padding is messed up for some reason*/
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 10px;
}
.large-pic {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	margin-top: 300px;
  	width: 700px;
  	/*Cant make image larger than a certain size*/
}
.interview{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	margin-top: 500px;
	height: auto;
}
/* END SUBPAGE ONE*/
/* START SUBPAGE TWO*/
body.subpage-two{ 
	background-image: url(../images/blue-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s2sweater-info {
	background-color: #9043E5;
	text-align: right;
	color: white;
	font-family: park-lane: serif;
	font-weight: 700;
	font-style: normal;
	max-width: 400px;
	font-size: 22px;
	padding: 10px 20px 20px 20px;
	/*padding is messed up for some reason*/
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 10px;
}
.s2sweater-name { 
	color: white;
	font-family: park-lane: serif;
	/*typeface not working even though it is linked on homepage*/
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 10px 0px;
	margin-top: 80px;
	text-align: right;
}
/* END SUBPAGE TWO*/
/* START SUBPAGE THREE*/
body.subpage-three{ 
	background-image: url(../images/black-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s3sweater-info {
	background-color: #1132FF;
	text-align: right;
	color: white;
	font-family: park-lane: serif;
	font-weight: 700;
	font-style: normal;
	max-width: 400px;
	font-size: 22px;
	padding: 10px 20px 20px 20px;
	/*padding is messed up for some reason*/
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 10px;
}
.s3sweater-name { 
	color: white;
	font-family: park-lane: serif;
	/*typeface not working even though it is linked on homepage*/
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 10px 0px;
	margin-top: 80px;
	text-align: right;
}
/* END SUBPAGE THREE*/
/* START SUBPAGE FOUR*/
body.subpage-four {
	background-image: url(../images/woven-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s4sweater-info {
	background-color: #FE9F53;
	text-align: right;
	color: white;
	font-family: park-lane: serif;
	font-weight: 700;
	font-style: normal;
	max-width: 400px;
	font-size: 22px;
	padding: 10px 20px 20px 20px;
	/*padding is messed up for some reason*/
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 10px;
}
.s4sweater-name { 
	color: white;
	font-family: park-lane: serif;
	/*typeface not working even though it is linked on homepage*/
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 10px 0px;
	margin-top: 80px;
	text-align: right;
}








