nav.homenav {
	padding: 15px 10px 15px 10px;
	background-color: #1132FF;
	text-align: center;
}
.homenav a:hover {
 	color: #1132FF;
 	background-color: white;
 	padding: 4px;
 }
.homenav a.active {
	text-decoration: underline;
}
nav ul{
	text-decoration: none;
	color: white;
}
li {
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
}
a {
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
	font-family: park-lane, serif;
	font-weight: 500;
	font-style: normal;
}
header { 	
	text-align: center;
 }
h1 {
	color: #1132FF;
	font-family: park-lane, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	text-align: center;
	text-transform: uppercase; 
	padding: 300px 20px 75px 20px;

}
h2.tagline {
	color: white;
	background-color: #1132FF;
	font-family: park-lane, bold; 
	font-size: 22px;
	padding: 10px;
	margin-bottom: 200px;
	display: inline-block;

/*Cant get background to fit text*/ 
}
h2.arrow-text{
	color: #1132FF;
	font-family: park-lane, serif;
	font-size: 18px;
	margin-bottom: 3px;
}
.about-arrow{
	margin-bottom: 400px;
}

body.home{ 
	background-image: url(../images/home-background.png);
	background-size: cover;
	background-position: center top;
}

main {
	text-align: center;
	/*Cant get this centered on page*/ 
}
h2.about-title {
	color: white;
	font-family: park-lane, bold; 
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 20px;
	text-align: left;
}
article.about-box{
    margin-left: auto;
    margin-right: auto;
	width: 450px;
	min-height: 200px;
	background-color: #1132FF;
	padding: 25px;
	color: white;
	margin-bottom: 175px;
	line-height: 1.4em;
	font-family: park-lane, bold;
	text-align: justify;
}
.about-paragraph{
	text-align: justify;
}
.signature {
	text-align: right;
	padding-top: 10px;
}
.second-arrow{ 
	margin-bottom: 100px;
}
.photo-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
footer {
	clear: left;
	color: white;
	background-color: #1132FF;
	font-family: park-lane, bold;
	text-transform: lowercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;

}
/* END OF HOMEPAGE*/
/* START SUBPAGE ONE*/
nav.s1nav {
	padding: 15px 10px 15px 10px;
	background-color: #43A792;
	text-align: center;

}
.s1nav a:hover {
 	color: #43A792;
 	background-color: white;
 	padding: 4px;
 }
.s1nav a.active {
	text-decoration: underline;
}
body.subpage-one{ 
	background-image: url(../images/beige-texture.png);
	background-size: cover;
	background-position: center top;
	}
.s1sweater-info {
	font-family: park-lane, serif;
	background-color: #43A792;
	color: white;
	max-width: 450px;
	font-size: 22px;
	padding: 0px 42px 20px 30px;
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 50px;

	line-height: 40px;
}
.s1sweater-name { 
	font-family: park-lane, bold;
	font-weight: 700;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 0px 0px 30px 0px;
	margin-top: 30px;
}
.large-pic {
	display: block;
 	margin-top: 300px;
	max-width: 100%;
	padding-left: 15%;

}
.interview{
	display: block;
 	margin-top: 400px;
  	margin-left: auto;
  	margin-right: auto;
 	margin-bottom: 200px;
 	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/* END SUBPAGE ONE*/
/* START SUBPAGE TWO*/
nav.s2nav {
	padding: 15px 10px 15px 10px;
	background-color: #9043E5;
	text-align: center;
}
.s2nav a:hover {
 	color: #9043E5;
 	background-color: white;
 	padding: 4px;
 }
.s2nav a.active {
	text-decoration: underline;
}
body.subpage-two{ 
	background-image: url(../images/blue-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s2sweater-info {
	background-color: #9043E5;
	font-family: park-lane, serif;
	color: white;
	max-width: 620px;
	font-size: 22px;
	padding: 0px 40px 20px 30px;
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 50px;

	line-height: 40px;
}
.s2sweater-name { 
	font-family: park-lane, bold;
	font-weight: 700;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 0px 0px 30px 0px;
	margin-top: 30px;
}
/* END SUBPAGE TWO*/
/* START SUBPAGE THREE*/
nav.s3nav {
	padding: 15px 10px 15px 10px;
	background-color: #1132FF;
	text-align: center;
}
.s3nav a:hover {
 	color: #1132FF;
 	background-color: white;
 	padding: 4px;
 }
.s3nav a.active {
	text-decoration: underline;
}
body.subpage-three{ 
	background-image: url(../images/black-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s3sweater-info {
	background-color: #1132FF;
	font-family: park-lane, serif;
	color: white;
	max-width: 650px;
	font-size: 22px;
	padding: 0px 40px 20px 30px;
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 50px;

	line-height: 40px;
}
.s3sweater-name { 
	font-family: park-lane, bold;
	font-weight: 700;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 0px 0px 30px 0px;
	margin-top: 30px;
}
/* END SUBPAGE THREE*/
/* START SUBPAGE FOUR*/
nav.s4nav {
	padding: 15px 10px 15px 10px;
	background-color: #FE9F53;
	text-align: center;
}
.s4nav a:hover {
 	color: #FE9F53;
 	background-color: white;
 	padding: 4px;
 }
.s4nav a.active {
	text-decoration: underline;
}

body.subpage-four {
	background-image: url(../images/woven-texture.png);
	background-size: cover;
	background-position: center top;
	background-repeat-y
}
.s4sweater-info {
	background-color: #FE9F53;
	font-family: park-lane, serif;
	color: white;
	max-width: 550px;
	font-size: 22px;
	padding: 0px 40px 20px 30px;
	position: absolute;
	right: 50px;
	top: 50px;
	margin-top: 50px;

	line-height: 40px;
}
.s4sweater-name { 
	font-family: park-lane, bold;
	font-weight: 700;
	text-transform: uppercase; 
	font-size: 45px;
	padding: 0px 0px 30px 0px;
	margin-top: 30px;
}
@media only screen and (max-width: 768px) {

}








